:root {
    --main-color: #00D36D;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1218px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER */

.garpix-header {
    padding-top: 18px;
    padding-bottom: 18px;
}

.garpix-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.garpix-header-logo {
    display: block;
    width: 180px;
    height: 80px;
}

.garpix-header-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 749px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.garpix-header-item {
    margin-right: 20px;
    margin-bottom: 12px;
}

.garpix-header-link {
    color: rgba(33, 33, 33, 0.5);
    text-decoration: none;
    line-height: 40px;
}

.garpix-header-item-parteners .garpix-header-link {
    color: #222;
    border-bottom: 1px solid rgba(33, 33, 33, 0.3);
}

.header-left-telegram {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 18px;
}

.header-left-telegram::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../images/telegram.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-right: 3px;
}

.garpix-header-left-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left-bottom-search {
    border: none;
    background: none;
}

.header-left-bottom-search img {
    display: block;
    width: 24px;
    height: 24px;
}

.header-left-bottom-search:focus,
.garpix-header-link:focus,
.header-left-enter:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ccc;
    border-radius: 7px;
}

.header-left-enter {
    display: inline-block;
    color: var(--main-color);
    text-decoration: none;
    font-size: 14px;
    border: 1px solid var(--main-color);
    border-radius: 7px;
    padding: 7px 27px;
}

/* MAIN */

.garpix-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 70px;
    padding-bottom: 160px;
    background-color: #F2F4F7;
}

.invitation-section {
    max-width: 882px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}

.invitation-heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 50px;
}

.invitation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 22px;
}

.invitation-item {
    margin-right: 8px;
    margin-bottom: 8px;
}

.invitation-link {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #222222;
}

.invitation-link-active {
    background-color: var(--main-color);
    color: #ffffff;
}

/* Checkbox */

.invitation-checkbox {
    max-width: 321px;
    margin-left: auto;
    margin-right: auto;
}

.invitation-label {
    position: relative;
    display: inline-block;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.invitation-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    width: 58px;
    height: 24px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #E4E6E9;
    border-radius: 12px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 2px;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

.invitation-input:checked + .slider {
    background-color: var(--main-color);
}

.invitation-input:checked + .slider::before {
    background-color:#ffffff;
}

.invitation-input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

.invitation-input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.ignoring-thanks {
    order: -1;
}

.accepting-thanks {
    color: var(--main-color);
}

/* Partners Section */

.partners-section {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.partners-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -20px;
}

.partners-item {
    width: 218px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px 0 20px 15px;
    border-radius: 8px;
}

.partners-link {
    text-decoration: none;
    color: rgba(34, 34, 34, 0.4);
    font-size: 12px;
    line-height: 15px;
}

.partners-item-sale {
    font-weight: 500;
    font-size: 24px;
    color: #222;
}